name: Pull Request

on:
  pull_request:
    branches: [ "main" ]
jobs:
  pull-request:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.5' # Specify your Go version
      - name: Install Dependencies
        run: go mod download
      - name: Build the Go Application
        run: go build -v ./...
      - name: Run Tests
        run: go test -v ./...
